.download-row {
    /*height: 430px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.download-block {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}
.download-text-block {
    /*height: 430px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1b1e21;
}

.ios-download-btn {
    width: 100px;
    height: 100%;
    background-image: url('../img/icon_appstore__ev0z770zyxoy_large_2x.png');
    /*background-image: url('../image/btn-ios.png');*/
    margin-top: 30px;
    background-size: contain;
    display: inline-block;
    overflow: hidden;
    text-indent: -999px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.ios-testflight-btn {
    width: 100px;
    height: 100%;
    /*height: 122px;*/
    margin-top: 30px;
    background-image: url('../img/testflight-128x128_27.png');
    background-size: contain;
    display: inline-block;
    overflow: hidden;
    text-indent: -999px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.android-download-btn {
    width: 100px;
    height: 100%;
    margin-top: 30px;
    background-image: url('../img/IOSLOGOt.png');
    background-size: contain;
    display: inline-block;
    overflow: hidden;
    text-indent: -999px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
